Score: <input type="text" name="score" value="{{score}}"><br>
Putts: <input type="text" name="putts" value="{{putts}}"><br>
Fairways: <input type="text" name="fairways" value="{{fairways}}"><br>
Bunkers: <input type="text" name="bunkers" value="{{bunkers}}"><br>
Club: <input type="text" name="club" value="{{club}}">

<div id="map-canvas"></div>

<button>Save</button>