Score: <input type="text" name="score" value="{{score}}"><br>
Putts: <input type="text" name="score" value="{{putts}}"><br>
Fairways: <input type="text" name="score" value="{{fairways}}"><br>
Bunkers: <input type="text" name="score" value="{{bunkers}}"><br>
Club: <input type="text" name="score" value="{{club}}">

<div id="map-canvas"></div>