Score: <input type="text" name="score" value="{{score}}">
Putts: <input type="text" name="score" value="{{putts}}">
Fairways: <input type="text" name="score" value="{{fairways}}">
Bunkers: <input type="text" name="score" value="{{bunkers}}">
Club: <input type="text" name="score" value="{{club}}">

<div id="map-canvas"></div>